version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
      - ./logo.jpg:/usr/share/nginx/html/logo.jpg:ro
    container_name: peoplepartners-tech
    restart: unless-stopped
